body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

label{
    font-size: var(--font-size-medium);
    color: var(--tertiary-color);
    font-weight: 600;
}

h1{
    color: var(--quaternary-color);
}

.fields{
    width: 100%;
}

.shadow-box .fields{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
}

.shadow-box .fields .field{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xsmall);
}

.shadow-box .fields .field input{
    font-size: var(--font-size-medium);
    font-weight: 500;
    width: 100%;
    background-color: transparent;
    padding: var(--spacing-small);
    border: 3px solid var(--quaternary-color);
    border-radius: 9px;
}

#email{
    border: 3px solid hsl(25, 25%, 25%) !important;
    background-color: hsl(25, 25%, 80%) !important;
}

.otp-container{
    display: flex;
    align-items: center;
    gap: var(--spacing-small);
    margin: var(--spacing-large) 0;
}
.otp-input{
    width: 70px;
    height: 70px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: var(--primary-color);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    transition: all 0.2s;
}

#msg{
    text-align: center;
    font-style: italic;
}

#submit-btn{
    padding: 12px;
    width: fit-content !important;
}

.spinner-btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 16px;
}

.spinner {
  width: 24px;
  height: 24px;
  border: 3px solid var(--quaternary-color);
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

.spinner-btn.loading .btn-text {
  display: none;
}

.spinner-btn.loading .spinner {
  display: inline-block;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.hide {
    display: none !important;
}