body {
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--spacing-large);
}

#a1{
    position: relative;
    left: 200px;
    top: 50px;
    transform: scaleY(-1);
    rotate: 250deg;
}

#a2{
    position: relative;
    right: 200px;
    top: 50px;
    rotate: 290deg;
}

.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: var(--spacing-hero);
}

.content h1{
    font-size: var(--font-size-hero);
    text-align: center;
    margin-bottom: var(--spacing-xsmall);
}

.grp1{
    margin-bottom: var(--spacing-large);
}

.content section:first-child{
    margin-bottom: calc(var(--spacing-hero) + 1.5rem);
}

.content section:last-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-small);
}

section a button{
    text-decoration: none;
    color: black;
    cursor: pointer;
}