body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.otp-container{
    display: flex;
    align-items: center;
    gap: var(--spacing-small);
    margin-bottom: var(--spacing-large);
}
.otp-input{
    width: 70px;
    height: 70px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: var(--primary-color);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    transition: all 0.2s;
}
.primary-btn{
    padding: 12px;
}

.shadow-box .head{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

#otp-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-small);
}

#otp-form .bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-small);
}

a{
    color: var(--quaternary-color);
}

.otp-form{
    display: none;
}